/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url('../fonts/montserrat-v14-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/montserrat-v14-latin_cyrillic-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url('../fonts/montserrat-v14-latin_cyrillic-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/montserrat-v14-latin_cyrillic-italic.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url('../fonts/montserrat-v14-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/montserrat-v14-latin_cyrillic-500.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url('../fonts/montserrat-v14-latin_cyrillic-500italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/montserrat-v14-latin_cyrillic-500italic.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url('../fonts/montserrat-v14-latin_cyrillic-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/montserrat-v14-latin_cyrillic-600.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url('../fonts/montserrat-v14-latin_cyrillic-600italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/montserrat-v14-latin_cyrillic-600italic.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url('../fonts/montserrat-v14-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/montserrat-v14-latin_cyrillic-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url('../fonts/montserrat-v14-latin_cyrillic-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/montserrat-v14-latin_cyrillic-700italic.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* neucha-regular - latin_cyrillic */
@font-face {
  font-family: 'Neucha';
  font-style: normal;
  font-weight: 400;
  src: local('Neucha'), url('../fonts/neucha-v11-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/neucha-v11-latin_cyrillic-regular.woff') format('woff');
  /* Modern Browsers */
}
@font-face {
  font-family: 'chinchilla-icons-pack';
  src: url('../fonts/chinchilla-icons-pack.woff2') format('woff2'), url('../fonts/chinchilla-icons-pack.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
i.eci {
  font-family: 'chinchilla-icons-pack';
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-size: 18px;
  font-style: normal;
}
.eci.webnotes-draw::before {
  content: '\e80a';
}
.eci.bitacoras-draw-logo::before {
  content: '\e80b';
}
.eci.flixster-draw-logo::before {
  content: '\e80c';
}
.eci.fotolog-logo::before {
  content: '\e80d';
}
.eci.network::before {
  content: '\e80e';
}
.eci.network-1::before {
  content: '\e80f';
}
.eci.social-media::before {
  content: '\e810';
}
.eci.handmade::before {
  content: '\e811';
}
.eci.vk-draw-logo::before {
  content: '\e812';
}
.eci.twitter-draw-logo::before {
  content: '\e813';
}
.eci.linkedin-draw-logo::before {
  content: '\e814';
}
.eci.youtube-logo::before {
  content: '\e815';
}
.eci.google-plus-draw-logo::before {
  content: '\e816';
}
.eci.twitter-logo::before {
  content: '\e817';
}
.eci.wayn-logo::before {
  content: '\e818';
}
.eci.pinterest-drawn-logo::before {
  content: '\e819';
}
.eci.reverbnation-logo::before {
  content: '\e81a';
}
.eci.twitpic-draw-logo::before {
  content: '\e81b';
}
.eci.caring-bridge-logo::before {
  content: '\e81c';
}
.eci.ads-of-the-world-logo::before {
  content: '\e81d';
}
.eci.weheartit-draw-logo::before {
  content: '\e81e';
}
.eci.spotify-draw-logo::before {
  content: '\e81f';
}
.eci.network-2::before {
  content: '\e820';
}
.eci.instagram-draw-logo::before {
  content: '\e821';
}
.eci.facebook-drawn-logo::before {
  content: '\e822';
}
body {
  font-family: Montserrat, sans-serif;
  margin: 0;
  padding: 0;
}
html {
  font-size: 18px;
}
*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
@keyframes icons {
  0% {
    transform: rotate(0deg) scale(1);
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
  }
  25% {
    transform: rotate(30deg) scale(1.1);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  }
  50% {
    transform: rotate(-20deg) scale(1.1);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
  }
  75% {
    transform: rotate(10deg) scale(1);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
  }
  100% {
    transform: rotate(0deg) scale(1);
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
  }
}
@keyframes arrow {
  0% {
    transform: translateY(-10px) rotate(90deg);
  }
  20% {
    transform: translateY(-5px) rotate(90deg);
  }
  40% {
    transform: translateY(0) rotate(90deg);
  }
  60% {
    transform: translateY(5px) rotate(90deg);
  }
  80% {
    transform: translateY(10px) rotate(90deg);
  }
  100% {
    transform: translateY(15px) rotate(90deg);
  }
}
@keyframes queen {
  0% {
    transform: scale(0.98);
  }
  100% {
    transform: scale(1);
  }
}
.bg_before:before,
.bg_after:after {
  content: "";
  display: block;
  position: absolute;
  background-color: #EDF5FF;
  z-index: -9999;
}
.quote_before:before {
  content: "\0022";
  display: block;
  position: absolute;
  color: #edf5ff;
  z-index: -9999;
  width: 200px;
  height: 200px;
  left: -26px;
  line-height: 0.8;
  top: 75px;
  font-size: 500px;
  transform: rotate(180deg);
  font-weight: 500;
}
.outContainer {
  overflow: hidden;
  width: 100%;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  position: relative;
}
.section_title {
  font-size: 2.3333rem;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
}
.btn {
  width: 266px;
  height: 64px;
  border-radius: 57px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.btn_red {
  background-color: #FF4F79;
  box-shadow: 5px 10px 30px rgba(240, 91, 147, 0.6);
}
.btn_red:hover {
  background-color: #ff023f;
  box-shadow: 5px 10px 30px 5px rgba(240, 91, 147, 0.7);
}
.btn_blue {
  background-color: #5882FD;
  box-shadow: 5px 10px 30px rgba(88, 130, 253, 0.74);
}
.btn_blue:hover {
  background-color: #0c49fc;
  box-shadow: 5px 10px 30px 5px rgba(88, 130, 253, 0.8);
}
.headerScroll {
  box-shadow: 5px 10px 30px rgba(88, 130, 253, 0.5);
  background-color: rgba(255, 255, 255, 0.98);
}
header {
  height: 80px;
  position: fixed;
  z-index: 9999;
  width: 100%;
  transition: all 0.2s ease-in-out;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .container .logo {
  width: 430px;
}
header .container .logo img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.contact_us {
  display: flex;
  align-items: center;
}
.contact_us > a {
  transition: all 0.2s ease-in-out;
  font-weight: 700;
}
.contact_us > a:not(:last-child) {
  margin-right: 52px;
}
.contact_us > a:not(:last-child):hover {
  text-shadow: 0px 0px 2px #5882fd;
}
.contact_us > a:not(:last-child):focus {
  color: #FF4F79;
}
.contact_us .callback {
  color: #5882FD;
}
.banner .container {
  padding-top: 200px;
  display: flex;
  flex-wrap: wrap;
}
.banner .container:before {
  width: 615px;
  height: 615px;
  left: -720px;
  top: 14px;
  border-radius: 200px 402px 80px 180px;
  transform: rotate(30deg);
}
.banner .container:after {
  width: 1303.01px;
  height: 1303.01px;
  left: 800px;
  top: -608px;
  border-radius: 402px 1000px 402px 402px ;
  transform: rotate(6deg);
}
.banner-content,
.banner-img {
  flex-basis: 50%;
  align-self: stretch;
}
.turn-page {
  flex-basis: 100%;
  align-self: flex-end;
}
.banner-content > h2 {
  color: #5882FD;
  font-weight: 700;
  font-size: 3.5556rem;
  line-height: 1.4;
  margin-bottom: 40px;
}
.hype {
  font-style: italic;
  font-weight: 600;
  font-size: 1.3333rem;
  line-height: 1.5;
  color: #5882FD;
  margin-bottom: 28px;
}
.ask {
  font-family: Neucha, sans-serif;
  font-size: 2.6667rem;
  line-height: 1.4;
  color: #5882FD;
  margin-bottom: 5px;
}
.answer {
  font-family: Neucha, sans-serif;
  line-height: 1.6;
  margin-bottom: 58px;
}
.banner-img {
  position: relative;
  height: 630px;
}
.banner-img > img {
  position: absolute;
  width: 700px;
  height: auto;
  bottom: 13px;
  left: 12px;
  z-index: -999;
}
.turn-page {
  font-family: Neucha, sans-serif;
  font-size: 1.6667rem;
  line-height: 1.5rem;
  text-align: center;
  color: #585858;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.turn-page > span {
  display: block;
  line-height: 1;
  font-size: 1.3rem;
}
.turn-page > span:after {
  content: "\00bb";
  font-family: Montserrat, sans-serif;
  font-size: 30px;
  display: block;
  width: 30px;
  height: 30px;
  margin: auto;
  animation: arrow 1s infinite ease-in-out;
}
.turn-page:hover {
  transform: scale(1.1);
  text-shadow: 0 3px 2px rgba(150, 150, 150, 0.2);
  color: #FF4F79;
}
.services {
  padding-top: 100px;
  padding-bottom: 120px;
}
.services .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services .container .section_title {
  margin-bottom: 90px;
}
.services_content_wrap {
  display: flex;
  width: 100%;
}
.services_left,
.services_right {
  min-width: 50%;
}
.services_left {
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.services_left svg {
  position: absolute;
  right: 150px;
  top: -130px;
  z-index: -999;
}
.services_left .img_bg {
  position: absolute;
  top: 0;
  left: -35px;
  z-index: -999;
}
.services_left > p {
  width: 220px;
  font-family: Neucha, sans-serif;
  font-size: 1.1667rem;
  line-height: 1.2778rem;
  letter-spacing: 0.02em;
  color: #6B6B6E;
  position: relative;
}
.services_left > p:before {
  content: "\0022";
  display: block;
  position: absolute;
  color: #edf5ff;
  z-index: -99;
  width: 179px;
  height: 200px;
  left: -100px;
  line-height: 0.8;
  top: -164px;
  font-family: Montserrat, sans-serif;
  font-size: 290px;
  font-style: italic;
  transform: rotate(180deg) skewX(-10deg) scaleX(0.7);
  font-weight: 700;
}
.services_right__title {
  text-align: center;
  margin-bottom: 70px;
  font-family: Neucha, sans-serif;
  font-size: 2rem;
  color: #5882FD;
}
.services_right__content {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 1fr 1fr;
}
.services_right__content > div {
  align-self: self-start;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services_right__content > div .icon_wrap {
  border: 1px solid #5882FD;
  border-radius: 50%;
  padding: 10px;
  color: #5882FD;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  transition: all 0.2s ease-in-out;
}
.services_right__content > div .icon_wrap:hover {
  animation: icons 0.5s ease-in-out;
  animation-fill-mode: forwards;
}
.services_right__content > div .icon_wrap i {
  font-size: 36px;
}
.services_right__content > div .icon_text {
  text-align: center;
}
section.rent {
  position: relative;
}
section.rent .container {
  padding-top: 100px;
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.rent .container:before {
  width: 3000px;
  height: 100%;
  transform: translateX(-50%);
  left: 50%;
  top: 0;
  border-radius: 70% 70% 0 0;
}
.rent-list-wrap {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
  margin-bottom: 50px;
}
.rent-list-wrap ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.rent-list-wrap ul li {
  position: relative;
  margin-bottom: 70px;
  font-family: Neucha, sans-serif;
  font-size: 1.3333rem;
  line-height: 1.4444rem;
  margin-left: 60px;
  max-width: 263px;
  transition: all 0.2s ease-in-out;
}
.rent-list-wrap ul li:before {
  content: "\0022";
  font-family: Montserrat, sans-serif;
  display: block;
  color: #CED6DF;
  position: absolute;
  z-index: -999;
  left: -60px;
  top: 0;
  font-size: 150px;
  font-weight: 500;
  transform: skewX(-15deg);
  transition: all 0.2s ease-in-out;
}
.rent-list-wrap ul li:hover {
  cursor: pointer;
}
.rent-list-wrap ul li:hover:before {
  color: #5882FD;
}
.rent-list-wrap img.bg_img {
  position: absolute;
  z-index: -9998;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
section.rent .section_title {
  margin-bottom: 50px;
}
.ourShins {
  background-color: rgba(255, 232, 110, 0.3);
}
.ourShins .container {
  padding: 150px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shins-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 80px 180px;
  margin: 80px 0;
}
.ourShins-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ourShins-item img {
  margin-bottom: 25px;
}
.ourShins-item h6 {
  font-weight: 600;
  font-size: 1.3333rem;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 30px;
}
.ourShins-item p {
  font-family: Neucha, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 10px;
}
section.prices .outContainer {
  position: relative;
}
section.prices .outContainer:before {
  width: 1849.31px;
  height: 1325.83px;
  left: -1400px;
  top: 0;
  border-radius: 443px;
  transform: rotate(54.69deg);
}
section.prices .outContainer:after {
  width: 2017.23px;
  height: 1432px;
  right: -1745px;
  top: 0;
  border-radius: 443px;
  transform: rotate(39.68deg);
}
section.prices .container {
  padding: 120px 0;
}
section.prices .section_title {
  margin-bottom: 80px;
}
.advantages_wrap {
  display: flex;
  justify-content: space-between;
}
.advantages_item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: calc(33.333% - 20px);
}
.advantages_item > a {
  margin-bottom: 32px;
}
.advantages_item ul {
  border: 1px solid #F2F7FF;
  list-style-type: none;
  padding: 20px 34px 60px 32px;
}
.advantages_item ul li {
  line-height: 1.5;
  letter-spacing: 0.02rem;
}
.advantages_item ul li:not(:last-child) {
  margin-bottom: 27px;
}
.advantages_item ul li.disabled {
  color: #BCC2D5;
}
.advantages_img {
  margin-bottom: 43px;
  justify-self: flex-start;
}
.advantage_title {
  font-weight: 500;
  font-size: 1.3333rem;
  line-height: 1.6111rem;
  margin-bottom: 32px;
}
.advantage_price {
  text-align: center;
  font-weight: 500;
  font-size: 1.3333rem;
  line-height: 1.6111rem;
  margin-bottom: 42px;
}
.advantage_price span {
  font-weight: bold;
  font-size: 2.3333rem;
  line-height: 2.8333rem;
}
section.discount {
  background-color: #EDF5FF;
}
section.discount .container {
  padding: 120px 0;
  flex-direction: column;
  align-items: center;
}
.discounts-wrap {
  display: flex;
  justify-content: space-around;
  padding: 0 100px;
}
.discount-item {
  position: relative;
  flex-basis: content;
  z-index: 1;
  padding: 35px 10px 35px 70px;
}
.discount-item .discount-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.discount-item .left {
  top: -30px;
  left: 8px;
}
.discount-item .right {
  top: 18px;
  left: 44px;
}
.discount-item .percents {
  font-weight: bold;
  font-size: 5.3333rem;
  line-height: 6.5rem;
  color: #5882FD;
}
.discount-item .discount-text {
  font-size: 1.3333rem;
  line-height: 1.6111rem;
}
section.queen {
  background-color: #FFE86E;
  padding: 120px 0;
}
section.queen .section_title {
  margin-bottom: 50px;
}
.queen-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.queen-img {
  margin-right: 100px;
  animation: queen 1s infinite ease-in-out alternate;
}
.queen-text {
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}
.queen-text p {
  max-width: 408px;
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 20px;
}
.queen-text a {
  margin-top: 50px;
}
section.team .container {
  padding: 120px 0;
}
section.team .container .section_title {
  margin-bottom: 120px;
}
.team_wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px 30px;
}
.team_item {
  transition: all 0.4s ease-in-out;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
}
.team_item:hover .team_elem {
  transform: rotateY(90deg);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}
.team_item:hover .team_elem .img_wrap {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  opacity: 0;
}
.team_item:hover .team_elem .back_wrap {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  opacity: 1;
}
.team_elem {
  position: relative;
  width: 100%;
  height: content-box;
  cursor: pointer;
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
  transition: all 0.4s ease-in-out;
}
.team_elem .img_wrap {
  width: 100%;
  height: auto;
  transform-origin: 50% 50% ;
  transform: rotateY(0deg);
  transition: all 0.4s ease-in-out;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
}
.team_elem .img_wrap > img {
  width: 100%;
  object-fit: cover;
}
.team_elem .img_wrap > div {
  font-size: 1.4444rem;
  font-weight: bold;
}
.team_elem .img_wrap > span {
  font-size: 1.1111rem;
}
.team_elem > .back_wrap {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: lightblue;
  transform-origin: 50% 50% ;
  transform: rotateY(-90deg);
  transition: all 0.4s ease-in-out;
  opacity: 0;
}
.team_elem > .back_wrap .back_wrap_top {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.team_elem > .back_wrap .back_wrap_top-photo {
  width: 80px;
  height: 80px;
  border: 2px solid #5882fd;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}
.team_elem > .back_wrap .back_wrap_top-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.team_elem > .back_wrap .back_wrap_bottom {
  font-family: Neucha, sans-serif;
  font-size: 1.1111rem;
}
.back_wrap_top-name {
  font-size: 1.3333rem;
  font-weight: bold;
}
section.cases {
  background-color: #fee3c5;
}
section.cases .container {
  padding: 120px 0 100px;
}
.slider-wrap {
  height: 487px;
  left: 360px;
  background: #EDF5FF;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 25px;
  margin-top: 20px;
  margin-bottom: 80px;
}
.callbackForm {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.callbackForm .form-group {
  width: calc(33.3% - 30px);
  display: flex;
  align-items: center;
}
.callbackForm .form-group input,
.callbackForm .form-group button {
  width: 100%;
  padding: 20px 36px;
  margin-bottom: 0;
  font-size: 1rem;
  text-transform: capitalize;
  outline: none;
  border-radius: 37px;
  border: none;
}
.callbackForm .form-group input {
  border: 1px solid #BCC2D5;
}
.callbackForm .form-group input::placeholder {
  color: #BCC2D5;
}
.footer {
  background-color: #EDF5FF;
  height: 150px;
}
.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.3333rem;
  font-weight: 500;
}
.footer .container a {
  transition: all 0.2s ease-in-out;
}
.footer .container a:hover {
  text-shadow: 0 0 2px #5882fd;
}
.footer .container a:focus {
  color: #FF4F79;
}
.footer-logo {
  font-family: Neucha, sans-serif;
  font-size: 2rem;
  display: flex;
  align-items: center;
}
.footer-logo img {
  height: 100px;
  margin-right: 10px;
}
.footer-logo span {
  color: #5882FD;
  margin-right: 20px;
}
@media screen and (max-width: 1240px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .banner .container {
    padding-top: 150px;
  }
  .banner-img > img {
    width: 100%;
    height: auto;
    bottom: 70px;
    left: 0;
  }
  .ourShins .container {
    padding: 50px 30px;
    display: flex;
  }
  .shins-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px 100px;
    margin: 80px 0;
  }
}
/*# sourceMappingURL=style.css.map */